.wrapper {
  width: 100%;
  height: 100%;
  //   background-color: red;
  padding: 6px 1px 6px 0;
  display: flex;
  .box {
    width: 100%;
    height: 100%;
    // background-color: red;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      .background {
        width: 100%;
        height: 150px;
        // max-height: 150px;
        object-fit: cover;
        -webkit-mask-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(rgba(0, 0, 0, 1)),
          to(rgba(0, 0, 0, 0.5))
        );
        mask-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 0.5)
        );
      }
      .avatar_box {
        height: 56px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 8px;

        .name {
          // position: absolute;
          height: 50%;
          width: 100%;
          // background-color: red;
          display: flex;
          align-items: flex-end;

          .avatar {
            width: 56px;
            height: 56px;

            overflow: hidden;
            object-fit: cover;
            border-radius: 50%;
           

            // margin-bottom: 10%;
            border: 4px solid white;
          }
          span {
            // margin-left: calc(56px + 14px);
            // line-height: 50%;
            font-size: 14px;
            font-weight: 700;
            // text-align: ce
            height: 100%;
            display : flex;
            align-items: center;
            p{
            // height: 100%;
            line-height: 16px;

            }
          }
          // bottom: 0;
        }
        .action {
          width: calc(100% - 16px);

          // background-color: green;

          height: 100%;
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .button_box {
            display: flex;
            // padding: 8px;
            // justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            height: auto;
            gap: 10px;
            .button {
              width: 36px;
              height: 36px;
              // padding: 8px;
              background-color: black;
              display: flex;
              border-radius: 12px;
              font-size: 14px;
              box-sizing: border-box;
              align-items: center;
              justify-content: center;
              cursor: pointer;

              svg {
                fill: white;
              }
            }
          }
        }
      }

      &:before {
        content: " ";
        position: absolute;

        top: 100px;
        z-index: 1;
        margin: auto;
      }
    }
  }
}
@media (max-width: 800px) {
  .wrapper {
    .box {
      .header {
        .avatar_box {
          --number: 70px;
          width: 100%;
          height: 139px;
         
          .name {
            position : relative;
            flex-direction: column;
            align-items: center;
            height:65px;
            .avatar {
              position : absolute;
              width: var(--number);
              height: var(--number);
              top: -35px;
            }
            span {
              height:56px;
            align-items: flex-end;

            }
          }
          .action {
            .button_box {
              // height: auto;
              // margin-top: 30px;
              // background-color: red !important;
              flex:1;
              justify-content: space-between;
              .button {
                width: 32px;
                height: 32px;
                // padding: 8px;
                background-color: black;
                display: flex;
                // border-radius: 50%;

                span {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 800px) and (max-width: 1024px) {
  .wrapper {
    .box {
      .header {
        .avatar_box {
          --number: 70px;
          width: 100%;

          height: var(--number);

         
          .name {
            .avatar {
              width: var(--number);
              height: var(--number);
  
             
            }
            span {
              // margin-left: calc(var(--number));
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1024px) and (max-width: 1140px) {
  .wrapper {
    .box {
      .header {
        .avatar_box {
          --number: 90px;
          // width: var(--number);
          width: 100%;

          height: var(--number);

          
          .name {
            .avatar {
              width: var(--number);
              height: var(--number);
             
            }
            span {
              // margin-left: calc(var(--number) + 16px);
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1140px) {
  .wrapper {
    .box {
      .header {
        .avatar_box {
          --number: 100px;
          // width: var(--number);
          width: 100%;

          height: var(--number);

          
          .name {
            .avatar {
              width: var(--number);
              height: var(--number);
            }
            span {
            
            }
          }
        }
      }
    }
  }
}
